html{
  box-sizing:border-box;
}
*{
  box-sizing: inherit;
}
body {
      font-family: "Lora",'Roboto Slab', "Palatino","Serif";
    font-size: 1.2rem;
    color: #000;
    background:#FFEACF;
    margin: 0;
  }
  .text{
    padding: 1rem;
  max-width: 100%;
  }
  #container{
  display: flex;
flex-wrap: wrap;
justify-content: space-between;
flex-direction: column;
align-items: center;
max-width: 1000px;
margin: auto;
}
  h1{
    font-size: 3rem;
    font-family: "Lora",'Roboto Slab', "Palatino","Serif";
    text-align: center;
  }
  .byline{
    margin: 0;
    text-align: center;
      font-family: "Lora",'Roboto Slab', "Palatino","Serif";
  }
#Chart1{
  height:600px;
  width: 100%;
}
#Chart2{
  height:600px;
  width: 100%;

}
footer{
  font-family: "Lora",'Roboto Slab', "Palatino","Serif";
  text-align: center;
  font-size: .8rem;
  margin:1rem; 
}

a:link {
    color: #FFD4B5;
}
a:hover {
    color: #806A5B;
  }
a:visited {
  color: #448EB8;
}
a:active {
  color: #806A5B;
}

@media screen and (max-width: 790px){
  .text{
    font-size: 1rem;
  }
  #Chart1{
    max-width: 100%;
      }
  #Chart2{
    max-width: 100%;
  }
  h1{
    margin-bottom: 0;
    padding: 1.8rem;
  }
  .byline{
    font-size: 1.5rem;
  }

}
