html{
  box-sizing:border-box;
}
*{
  box-sizing: inherit;
}
body {
    font-family: 'Roboto Slab', "Lora", "Palatino","Serif";
    font-size: 1.2rem;
    color: #000;
    background:#FFEACF;
    margin: 0;
  }
  .text{
    line-height:1.8rem;
    margin: 1.8rem;
  }
  h1{
    font-size: 3rem;
    font-family: "Signika", "Montserrat", "Helvetica", "Sans-Serif";
    text-align: center;
  }
  .byline{
    text-align: center;
    font-family: "Signika", "Montserrat", "Helvetica", "Sans-Serif";
  }
#Chart1{
margin: 1.8rem;
margin-top: 0;
}
#Chart2{
  margin: 1.8rem;
  margin-top: 0;
}
a:link {
    color: #FFD4B5;
}
a:hover {
    color: #806A5B;
  }
a:visited {
  color: #448EB8;
}
a:active {
  color: #806A5B;
}

@media screen and (max-width: 790px){
  .text{
    font-size: 1rem;
  }
  #Chart1{
    max-width: 100%;
      }
  #Chart2{
    max-width: 100%;
  }
  h1{
    margin-bottom: 0;
    padding: 1.8rem;
  }
  .byline{
    font-size: 1.5rem;
  margin-top: 0;
  padding: 0;
  }

}
